<app-nav-bar></app-nav-bar>
<div class="detail-page">
  <div class="header">
    <div class="header-img">
      <img src="assets/img/landing-page_bg.svg" alt="Project Detail Page Background" class="header-image" />
      <div class="project-title">
        <h1>{{ project.title }}</h1>
      </div>
    </div>
    <div class="divider">
    </div>
    <div class="project-image-div" *ngIf="project"> 
      <img [src]="project.image_head" class="image-project" alt="{{ project.title }} image">
    </div>
    <div class="filler">
      <div class="nav-links">
        <a [routerLink]="['/']" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">&larr; Back to Timeline</a>
        <a></a>
        <a [routerLink]="['/allProjects']" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">All Projects &rarr;</a>
      </div>
    </div>
  </div>


  <div class="content-wrapper">
    <div class="content">
      <div class="description-top">
        <div class="description-left">
          <p id="date">{{ project.year }}</p>
          <h2 id="title"> {{ project.title }} </h2>
          <p id="descr"> 
            {{ project.short_desc }}   
          </p>
        </div>
  
        <div class="description-right">
          <div class="task">
            <h3>Task</h3>
            <p> {{ project.task }} </p>
          </div>
          <div class="hr"></div>
          <div class="implementation">
            <div id="language">
              <h4>Language</h4>
              <div *ngFor="let lang of project.language">
                <p>{{ lang }}</p>
              </div>
            </div>
            <div id="tool">
              <h4>Tools</h4>
              <div *ngFor="let tool of project.tools">
                <p>{{ tool }}</p>
              </div>
            </div>
            <div id="client">
              <h4>Client</h4>
              <p>{{ project.client }}</p>
            </div>
          </div>
        </div>  
      </div>
      

      <div class="overview">
        <h2> Project Overview</h2>

        <p [innerHTML]="formatDescr"> {{ project.description }}</p>
      </div>

      <br>
      <br>

      <div class="pictures">
        <div class="row">
          <div 
            class="column" 
            *ngFor="let column of columns"
            [ngStyle]="{'flex': currentFlex}"
          >
            <img *ngFor="let image of column" [src]="image" />
          </div>
        </div>
      </div>
      

    </div>

  </div>
</div>

<app-footer [waveBgColor]="'#011E42'"></app-footer>
