.tooling-page {
    position: relative;
    overflow: hidden;

    .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    z-index: -1;
    }

    .content {
        position: relative;
        z-index: 1;
        color: white;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }

    .wrapper {
        position: relative;
        z-index: 1;
        margin: auto;
        top: 5%;
        height: 500px;
    }

    .header {
        text-align: center;
        margin: auto;
        margin-top: 3%;
        font-size: 45px;
        font-weight: bold;
        -webkit-text-stroke: 2px black;
        color: #09D009;
        width: 10%;
        border-radius: 15px;
        border: green solid 1px;
        padding: 10px;
        background: #00152b;
        box-shadow: 0 0 5px 5px #09D009;
    }

    .title {
        text-align: center;
        margin: auto;
        margin-top: 3%;
        font-size: 30px;
        font-weight: bold;
        color: white;
        opacity: 0.7;
    }

    .languages {
        width: 75%;
        margin: auto;
        background: #175218;
        border-radius: 15px;
        border: green solid 1px;
        opacity: 0.8;
        display: flex;
        flex-wrap: wrap; /* Allows wrapping to new rows */
        gap: 20px;
        justify-content: space-between;
        align-items: center;     
        padding: 0px 20px 0px 20px;
        margin-top: 1%;
    }
    
    .lang-item {
        perspective: 1000px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 150px;
        height: 60px;
        margin: 10px;
        border-radius: 15px;
    }
    
    .lang-item .flip-card {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
    }
    
    
    
    .lang-item .flip-card .front,
    .lang-item .flip-card .back {
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 15px;
        border-radius: inherit;
    }
    
    .lang-item .flip-card .front {
        background: #00152b;
        color: white;
    }
    
    .lang-item .flip-card .back {
        background: #00152b;
        opacity: 0.9;
        color: white;
        transform: rotateY(180deg);
    }

    .tooling {
        width: 75%;
        margin: auto;
        background: #175218;
        border-radius: 15px;
        border: green solid 1px;
        opacity: 0.8;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        align-items: center;     
        padding: 0px 20px 0px 20px;
        margin-top: 1%;
    }

    .icon {
        flex-grow: 1;
        margin-right: 10px;
        fill: #4691f6;
    }

    .lang-item:hover .flip-card {
        transform: rotateY(180deg);
    }

    
}