<div id="tooling-page" class="tooling-page">
  <img src="assets/img/background.png" alt="Background" class="background-image rotated-image" />
  <div class="wrapper">
    <div class="header">Skills</div>
    <div class="languages">
      <div class="lang-item">C#</div>
      <div class="lang-item">Java</div>
      <div class="lang-item">Kotlin</div>
      <div class="lang-item">Javascript</div>
      <div class="lang-item">Typescript</div>
      <div class="lang-item">Python</div>
    </div>
      <!-- <div class="content">
          <h1>Welcome to My Portfolio</h1>
      </div> -->

  </div>
  
</div>

