.timeline-page {
  position: relative;
  overflow: hidden;

  .dark-blue {
    background: #011b38;
  }

  .content {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(
      ellipse 50% 25vh at 50% 100%, 
      #00bffb, 
      #0000
    ); 
    background-size: 100% 80%;
    background-repeat: no-repeat;
  }

  .wrapper {
    position: relative;
    z-index: 1;
    margin: auto;
    top: 5%;
    height: 500px;
  }

  .header {
      text-align: center;
      margin: auto;
      margin-top: 3%;
      font-size: 45px;
      font-weight: bold;
      -webkit-text-stroke: 2px black;
      color: #09D009;
      width: 10%;
      border-radius: 15px;
      border: green solid 1px;
      padding: 10px;
      background: #00152b;
      box-shadow: 0 0 5px 5px #09D009;
  }

  .timeline {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 0;
    background: #01234a;
}

.tl_background {
  width: 60%;
  margin: auto;
  display: block;
}

.tl_wrapper {
    position: relative; /* Establish a containing block for absolute positioning */
    overflow: hidden;
}

.con {
    position: absolute; /* Place it over the image */
    top: 50%; /* Center vertically within .tl_wrapper */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset for perfect centering */
    color: white; /* Ensure visibility over the image */
    z-index: 1; /* Ensure it overlays the image */
    font-size: 1.2em;
    text-align: center;
}

}