<div class="timeline-page">
  <div class="row dark-blue">
    <div>
      <svg id="" preserveAspectRatio="xMidYMax meet" class="svg-separator sep3" viewBox="0 0 1600 100" style="display: block;" data-height="100">
        <path class="" style="opacity: 1;fill: #0e3f27;" d="M-40,71.627C20.307,71.627,20.058,32,80,32s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,26H-60V72L-40,71.627z"></path>
        <path class="" style="opacity: 1;fill: #0a3534;" d="M-40,83.627C20.307,83.627,20.058,44,80,44s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,14H-60V84L-40,83.627z"></path>
        <path class="" style="fill: #01234a;" d="M-40,95.627C20.307,95.627,20.058,56,80,56s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,138H-60V96L-40,95.627z"></path></svg>
    </div>
  </div>
  <div class="timeline-container" [class.expanded]="isExpanded">
    <div class="timeline">
      <div class="sub-header">Timeline</div>

      
        
        <section class="timeline-content">
          <div class="tl_wrapper">
            <img src="assets/img/timeline/line_start.svg" alt="" class="tl_background" />
            <div class="year0" [attr.id]="'year-' + getYears()[0]">
              {{ getYears()[0]}}
            </div>
          </div>
    
          <div *ngFor="let year of getYears(); let yearIndex = index">
            <!-- Main timeline year marker -->
            <ng-container *ngIf="yearIndex !== 0">
              <div class="tl_wrapper">
                <img src="assets/img/timeline/{{ yearIndex % 2 === 0 ? 'line_year_right.svg' : 'line_year_left.svg' }}" 
                    alt="" class="tl_background" />
                <ng-container *ngIf="yearIndex % 2 === 0">
                  <div class="year2" [attr.id]="'year-' + year">{{ year }}</div>
                </ng-container>
                <ng-container *ngIf="yearIndex % 2 !== 0">
                  <div class="year1" [attr.id]="'year-' + year">{{ year }}</div>
                </ng-container>
                
              </div>
            </ng-container>
          
            <!-- Projects of the year -->
            <div *ngFor="let project of groupedProjects[year]; let i = index">
              <div class="tl_wrapper">
                <img 
                  [src]="'assets/img/timeline/' + 
                    (i === 0 ? (yearIndex % 2 === 0 ? 'main-left_sub-right_start.svg' : 'main-right_sub-left_start.svg') :
                    i % 2 === 0 ? (yearIndex % 2 === 0 ? 'main-left_sub-right.svg' : 'main-right_sub-left.svg') :
                    (yearIndex % 2 === 0 ? 'main-left_sub-left.svg' : 'main-right_sub-right.svg'))" 
                  alt="" 
                  class="tl_background"
                />

                <app-timeline-project [project]="project" [index]="i"></app-timeline-project>
                
              </div>
            </div>
    
            <div class="tl_wrapper">
              <img 
                [src]="'assets/img/timeline/' + (yearIndex % 2 === 0 ? 'main-left_sub-left_end.svg' : 'main-right_sub-right_end.svg')" 
                alt="" 
                class="tl_background"
              />
              <div class=""></div> <!-- Empty div for alignment -->
            </div>
          </div>
          
        </section>
        <aside class="right-side"></aside>
      </div>
      
    </div>
    
  </div>
  <div class="btn-div">
    <button class="expand-btn" (click)="toggleTimeline()">
      {{ isExpanded ? 'Collapse' : 'Expand' }}
    </button>
  </div>
</div>

