.timeline-container{
  position: relative;
  max-height: 1500px;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;

  /* New background gradient */
  /* background: linear-gradient(to bottom, rgba(1, 27, 56, 1) 90%, rgba(1, 27, 56, 0)); */

  /* Mask for smooth fade */
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0)); */


  &.expanded {
    max-height: 100%;
    mask-image: none;
    -webkit-mask-image: none;
  }
}

.expand-btn {
  margin: auto;
  left: 50%;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.expand-btn:hover {
  background: rgba(0, 0, 0, 0.9);
}

.btn-div {
  background: #01234a;
}

.timeline-page {
  position: relative;
  background: #01234a;
  /* overflow: hidden; */
  /* padding-bottom: 100px; */
  /* margin-bottom: 100px; */

  .dark-blue {
    background: #011b38;
  }

  .content {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(
      ellipse 50% 25vh at 50% 100%, 
      #00bffb, 
      #0000
    ); 
    background-size: 100% 80%;
    background-repeat: no-repeat;
  }

  .wrapper {
    position: relative;
    z-index: 1;
    margin: auto;
    top: 5%;
    height: 500px;
  }

  .header {
      text-align: center;
      margin: auto;
      margin-top: 3%;
      font-size: 45px;
      font-weight: bold;
      -webkit-text-stroke: 2px black;
      color: #09D009;
      width: 10%;
      border-radius: 15px;
      border: green solid 1px;
      padding: 10px;
      background: #00152b;
      box-shadow: 0 0 5px 5px #09D009;
  }

  .sticky-section {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .side-nav {
    width: 30%;
    height: 20%;
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 10%;
  }

  .side-nav-container {
    background:  #011c3b;
    border-radius: 25px;
    box-shadow: inset 0 0 5px rgb(10, 10, 10);
    padding: 25px;
    margin-left: 35%;
  }

  .side-nav-content {
    display: grid;
    grid-gap: 20px 30px;
  }
  
  .side-nav-link {
    background-color:#175218; 
    opacity: 0.8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 15px;
  }

  .right-side {
    width: 100%;
    height: 20%;
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .timeline-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .tl_background {
    width: 100%;
    margin: 0;
    display: block;
  }

  .tl_wrapper {
    width: 100%;
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .timeline {
    background: #01234a;
  }

  .year0 {
    position: absolute;
    top: 68%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white; 
    z-index: 1;
    font-size: 60px;
    text-align: center;
  }

  .year1 {
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white; 
    z-index: 1;
    font-size: 60px;
    text-align: center;
  }

  .year2 {
    position: absolute;
    top: 60%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white; 
    z-index: 1;
    font-size: 60px;
    text-align: center;
  }

}