.am-container{
  background: #012e61;
  padding-bottom: 3%;

  .dark-blue {
    background: #01234a;
  }

  .am-header {
    opacity: 0.8;
  }

  .content-wrapper {
    width: 70%;
    margin: auto;
    display: flex;
    justify: space-between;
    margin-top: 3%;
    /* border-radius: 15px;
    border: #01234a solid 1px; */
  }

  .am-content {
    margin: 20px;
    align-content: center;
    background:rgb(3, 38, 78);
    border-radius: 15px;
    border: #01234a solid 1px;
    box-shadow: inset 0 0 15px rgb(10, 10, 10);
    
  }

  .hero {
    flex: 1;
    text-align: center;
  }

  .description {
    flex: 2;
    padding: 3%;
  }

  .hero-img {
    height: 80%;
    width: 80%;
    object-fit: scale-down;
  }

  p {
    color: #E1D9D1;
    font-size: 20px;
  }

  h1 {
    color: #E1D9D1;
  }

  .links {
    display: flex;
    width: 50%;
    margin: auto;
    max-height: 12%;
  }

  .icon {
    flex: 1;
  }

  .link-icon {
    height: 80%;
    margin: 0 auto
  }
}