<div class="am-container">
  <div class="row dark-blue">
    <div>
      <svg id="" preserveAspectRatio="xMidYMax meet" class="svg-separator sep3" viewBox="0 0 1600 100" style="display: block;" data-height="100">
        <path class="" style="opacity: 1;fill: #10472d;" d="M-40,71.627C20.307,71.627,20.058,32,80,32s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,26H-60V72L-40,71.627z"></path>
        <path class="" style="opacity: 1;fill: #0d4241;" d="M-40,83.627C20.307,83.627,20.058,44,80,44s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,14H-60V84L-40,83.627z"></path>
        <path class="" style="fill: #012e61;" d="M-40,95.627C20.307,95.627,20.058,56,80,56s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,138H-60V96L-40,95.627z"></path>
      </svg>
    </div>
  </div>

  <div class="sub-header-div am-header">
    <div class="sub-header">About Me</div>
  </div>

  <div class="content-wrapper">
    <div class="am-content hero">
      <img src="assets/img/pl_hero.svg" alt="Landing Page Hero" class="hero-img" />
    </div>
    <div class="am-content description">
      <!-- <h1>About Me</h1> -->
      <br>
      <p>
        Growing up, I have always loved doing puzzles and solving problems. It was during my third year in high school that I discovered the world of computer science, and the problem-solving challenges that come with coding resonated with that part of me. Throughout the CS course in high school, I worked on varous assignments and projects, and I quickly became sure that this would be the career path I wanted to follow.
      </p>
      <br>
      <br>
      <p>
        In the last couple of years I have developed my skills of software development, both within the classroom and through personal projects. Both instances have had positive impacts on my development. 
        With school projects, team collaboration is at it's centre, and taught me valuable lessons about teamwork and delegation of work. 
        Personal projects on the other hand, allow me to focus on learning technologies outside of the confines of school. And taught me to be more exploratory in my coding.
      </p>
      <br>
      <br>
      <p>
        Right now, I am focussed on succesfully completing my second year and looking for an internship aimed at further exploring both what I do and do not want in my future career. I'm excited to gain hands-on experience to further this goal.
      </p>
    </div>

  </div>
</div>
