<div [ngClass]="{ 'con0': index === 0, 'con': index !== 0 }" class="project-block">
  <div class="project-content">
    <p class="title"> {{ project.title }}</p>
    <br>
    <p class="descr"> {{ project.description }}   bdiufb sofoabsdfbsodfyb oufybasodfyb asoudbasfbasofyb aosdfby aosuybfdaosybf dasybfd aosyb dfoausybf oausybfoausybdf auysbfaysb dfaysbfdoausybfd aosybfdasybdfaoybfoaybf ubgldjkfgbfgb ibg ofjgboib dibgbasg asgadhgbaosdugb  bdiufb sofoabsdfbsodfyb oufybasodfyb asoudbasfbasofyb aosdfby aosuybfdaosybf dasybfd aosyb dfoausybf oausybfoausybdf auysbfaysb dfaysbfdoausybfd aosybfdasybdfaoybfoaybf ubgldjkfgbfgb ibg ofjgboib dibgbasg asgadhgbaosdugb  bdiufb sofoabsdfbsodfyb oufybasodfyb asoudbasfbasofyb aosdfby aosuybfdaosybf dasybfd aosyb dfoausybf oausybfoausybdf auysbfaysb dfaysbfdoausybfd aosybfdasybdfaoybfoaybf ubgldjkfgbfgb ibg ofjgboib dibgbasg asgadhgbaosdugb</p>
  </div>
  <div class="project-img-div">
    <img src="https://picsum.photos/200" class="image-project">
  </div>
</div>
