.project-block{
  display: flex;
  
}

.project-content{
  display: inline-block;
  flex-grow: 4;
  margin: auto;
}

.project-img-div {
  flex-grow: 1;
  margin: auto;
}

.image-project {
  border-radius: 25px;
  object-fit: contain;
}