<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
<div class="tooling-page">
  <!-- <img src="assets/img/background.png" alt="Background" class="background-image rotated-image" /> -->
  <div class="wrapper">
    <div class="sub-header-div">
      <div class="sub-header">Skills</div>
    </div>
    

    <div class="title">
      <p>Languages</p>
    </div>
    <div class="languages">
      <div *ngFor="let language of languages" class="lang-item">
        <div class="flip-card">
          <div class="front">
            <div class="icon" [innerHTML]="language.svg"></div>
            <div style="flex-grow: 3">{{ language.name }}</div>
          </div>
          <div class="back">
            <div style="flex-grow: 3; text-align: center; padding: 15px;">
              <div class="skill-level">
                <ng-container *ngFor="let i of [1,2,3,4,5]">
                  <span
                    class="circle"
                    [ngClass]="{
                      'filled': i <= language.level,
                      'half': i - 0.5 === language.level
                    }"
                  ></span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Tooling -->
    <div class="title">
      <p>Tooling</p>
    </div>
    <div class="tooling">
      <div *ngFor="let tool of tooling" class="lang-item">
        <div class="flip-card">
          <div class="front">
            <div class="icon" [innerHTML]="tool.svg"></div>
            <div style="flex-grow: 3">{{ tool.name }}</div>
          </div>
          <div class="back">
            <div style="flex-grow: 3; text-align: center; padding: 15px;">
              <div class="skill-level">
                <ng-container *ngFor="let i of [1,2,3,4,5]">
                  <span
                    class="circle"
                    [ngClass]="{
                      'filled': i <= tool.level,
                      'half': i - 0.5 === tool.level
                    }"
                  ></span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

