<div class="landing-page">
    <img src="assets/img/landing-page_bg.svg" alt="Landing Page Background" class="background-image rotated-image" />
    <div class="wrapper">
        <div class="hero-wrapper">
            <h1>Hi, I'm</h1>
            <img src="assets/img/Hero.png" alt="Landing Page Hero" class="hero-image" />
        </div>

    </div>
    <div class="text-div">
        <div class="bottom-text">
            <p >A Passionate Full-Stack Developer</p>
        </div>
    </div>
    
</div>
