.landing-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    h1 {
        color: white;
    }

    .hero-wrapper{
        height: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-image {
        margin-top: 20%;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    .text-div {
        margin-bottom: 5%;
        width: 20%;
    }

    .bottom-text {
        text-align: center;
        margin: auto;
        font-size: 25px;
        color: white;
        padding: 10px 0px 10px 0px;
        border-radius: 15px;
        border: solid 1px #1b7a30;
        background: #000F20;
        opacity: 0.9;
        box-shadow: 0 0 10px 1px #1b7a30;
        bottom: 0;
    }

    @media screen and (max-width: 1600px) {  

        .text-div {
            margin-bottom: 7%;
            width: 35%;
        }

    }
    
    @media screen and (max-width: 1300px) {  

        .text-div {
            margin-bottom: 7%;
            width: 35%;
        }

        .bottom-text {
            font-size: 1.3rem;
        }
    }
    
    
    @media screen and (max-width: 1000px) {  
        .wrapper {
            width: 90vw;
        }
    }
    
    @media screen and (max-width: 850px) {

        .text-div {
            margin-bottom: 14%;
            width: 40%;
        }

        .bottom-text {
            font-size: 1.1rem;
        }
    }
    
    
    @media screen and (max-width: 700px) {  

        .wrapper {
            width: 80vw;
        }

        .text-div {
            margin-bottom: 18%;
            width: 50%;
        }
    
        h1 {
            font-size: 1.5rem;
        }
    }
}