<app-nav-bar></app-nav-bar>
<div class="detail-page">
  <div class="header">
    <div class="header-img">
      <img src="assets/img/landing-page_bg.svg" alt="Project Detail Page Background" class="header-image" />
      <div class="project-title">
        <h1>Title of Project</h1>
      </div>
    </div>
    <div class="divider">
    </div>
    <div class="project-image-div"> 
      <img src="https://picsum.photos/1200/300" class="image-project">
    </div>
    <div class="filler">
      <div class="nav-links">
        <a [routerLink]="['/']" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">&larr; Back to Timeline</a>
        <a></a>
        <a [routerLink]="['/projects']" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">All Projects &rarr;</a>
      </div>
    </div>
  </div>


  <div class="content-wrapper">
    <div class="content">
      <div class="description-top">
        <div class="description-left">
          <p id="date">June 3, 2021</p>
          <h2 id="title"> Project Title </h2>
          <p id="descr"> 
            Lorem ipsum dolor sit amet. Et eveniet incidunt et omnis quas et libero dignissimos! Ut dolore perferendis aut corporis autem qui repellat quisquam eos quia cumque. Ut dolore perferendis aut corporis autem qui repellat quisquam eos quia cumque.   
          </p>
        </div>
  
        <div class="description-right">
          <div class="task">
            <h3>Task</h3>
            <p> Lorem ipsum dolor sit amet. Et eveniet incidunt et omnis quas et libero dignissimos! Ut dolore perferendis aut corporis autem qui repellat quisquam eos quia cumque. </p>
          </div>
          <div class="hr"></div>
          <div class="implementation">
            <div id="language">
              <h4>Language</h4>
              <p>C#</p>
              <p>Typescript</p>
            </div>
            <div id="tool">
              <h4>Tools</h4>
              <p>Angular</p>
              <p></p>
            </div>
            <div id="client">
              <h4>Client</h4>
              <p>Personal</p>
            </div>
          </div>
        </div>  
      </div>
      

      <div class="overview">
        <h2> Project Overview</h2>
        <p>Lorem ipsum dolor sit amet. Et culpa accusamus eum excepturi voluptatem sit consectetur vitae et cupiditate autem At quisquam quaerat qui maxime quia qui quibusdam galisum! Et perspiciatis recusandae eum aliquid fugit ut ipsam error sit Quis corporis qui galisum possimus et molestias porro est molestiae pariatur. Rem dolores autem ut magnam praesentium cum aliquam quaerat est itaque nihil 33 delectus corporis ut rerum commodi.

          Aut dolores corrupti et neque suscipit sit eius enim 33 assumenda neque. Ad quia quidem et vero odio ut dolores tenetur. Quo accusantium harum ut dicta molestiae qui doloribus suscipit non nostrum magni sit ratione commodi ut explicabo distinctio ea dolore iusto.
          
          In placeat expedita rem sunt asperiores aut aliquam galisum. A voluptatem accusantium aut consectetur molestiae aut iure eaque et eligendi quidem rem consequatur expedita cum consequatur consequuntur. Sit quam reiciendis aut laboriosam minima qui reiciendis repudiandae et dolor commodi qui inventore autem sed possimus omnis.
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet. Et culpa accusamus eum excepturi voluptatem sit consectetur vitae et cupiditate autem At quisquam quaerat qui maxime quia qui quibusdam galisum! Et perspiciatis recusandae eum aliquid fugit ut ipsam error sit Quis corporis qui galisum possimus et molestias porro est molestiae pariatur. Rem dolores autem ut magnam praesentium cum aliquam quaerat est itaque nihil 33 delectus corporis ut rerum commodi.

          Aut dolores corrupti et neque suscipit sit eius enim 33 assumenda neque. Ad quia quidem et vero odio ut dolores tenetur. Quo accusantium harum ut dicta molestiae qui doloribus suscipit non nostrum magni sit ratione commodi ut explicabo distinctio ea dolore iusto.
          
          In placeat expedita rem sunt asperiores aut aliquam galisum. A voluptatem accusantium aut consectetur molestiae aut iure eaque et eligendi quidem rem consequatur expedita cum consequatur consequuntur. Sit quam reiciendis aut laboriosam minima qui reiciendis repudiandae et dolor commodi qui inventore autem sed possimus omnis.
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet. Et culpa accusamus eum excepturi voluptatem sit consectetur vitae et cupiditate autem At quisquam quaerat qui maxime quia qui quibusdam galisum! Et perspiciatis recusandae eum aliquid fugit ut ipsam error sit Quis corporis qui galisum possimus et molestias porro est molestiae pariatur. Rem dolores autem ut magnam praesentium cum aliquam quaerat est itaque nihil 33 delectus corporis ut rerum commodi.

          Aut dolores corrupti et neque suscipit sit eius enim 33 assumenda neque. Ad quia quidem et vero odio ut dolores tenetur. Quo accusantium harum ut dicta molestiae qui doloribus suscipit non nostrum magni sit ratione commodi ut explicabo distinctio ea dolore iusto.
          
          In placeat expedita rem sunt asperiores aut aliquam galisum. A voluptatem accusantium aut consectetur molestiae aut iure eaque et eligendi quidem rem consequatur expedita cum consequatur consequuntur. Sit quam reiciendis aut laboriosam minima qui reiciendis repudiandae et dolor commodi qui inventore autem sed possimus omnis.
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet. Et culpa accusamus eum excepturi voluptatem sit consectetur vitae et cupiditate autem At quisquam quaerat qui maxime quia qui quibusdam galisum! Et perspiciatis recusandae eum aliquid fugit ut ipsam error sit Quis corporis qui galisum possimus et molestias porro est molestiae pariatur. Rem dolores autem ut magnam praesentium cum aliquam quaerat est itaque nihil 33 delectus corporis ut rerum commodi.

          Aut dolores corrupti et neque suscipit sit eius enim 33 assumenda neque. Ad quia quidem et vero odio ut dolores tenetur. Quo accusantium harum ut dicta molestiae qui doloribus suscipit non nostrum magni sit ratione commodi ut explicabo distinctio ea dolore iusto.
          
          In placeat expedita rem sunt asperiores aut aliquam galisum. A voluptatem accusantium aut consectetur molestiae aut iure eaque et eligendi quidem rem consequatur expedita cum consequatur consequuntur. Sit quam reiciendis aut laboriosam minima qui reiciendis repudiandae et dolor commodi qui inventore autem sed possimus omnis.
        </p>
      </div>

      <div class="pictures">
        <div class="row">
          <div 
            class="column" 
            *ngFor="let column of columns"
            [ngStyle]="{'flex': currentFlex}"
          >
            <img *ngFor="let image of column" [src]="image" />
          </div>
        </div>
      </div>
      

    </div>

  </div>
</div>

<app-footer [waveBgColor]="'#011E42'"></app-footer>
