.detail-page {
  position: relative;
}

.header-img{
  width: 100vw;
}

.header-image {
  display: block;
  width: 100vw;
  max-height: 500px;
  object-fit: cover;
}

.wrapper {
  height: 1000px;
  background-image: linear-gradient(#001021, #011b38);
}

.divider {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(#129110, #001021);
}

.project-image {
  position: absolute;
  background: #011b38;
  opacity: 0.5;
  top: 25%;
  left: 30%;
  width: 40%;
  height: 20%;
  border-radius: 15px;
  border: green solid 1px;
}