<div class="project-item">
  <div class="item-content">
    <div class="card-text">
      <h2>{{ project.title }}</h2>
      <br>
      <p>
        {{ project.description }}
      </p>
      <h3>Key Features</h3>
      <p>
        {{ project.key_features }}
      </p>
      <p>
        {{ project.technical_desc }}
      </p>

      <div class="card-bottom">
        <hr>
        <div class="tools">
          <p *ngFor="let tool of project.language" id="tool">{{ tool }}</p>
        </div>

      </div>
      
    </div>

    <div class="card-image">
      <img [src]="project.images" class="image-project">
    </div>
  </div>
</div>
