<div class="timeline-desktop">
      <aside class="side-nav">
        <div class="side-nav-container">
          <div class="side-nav-content">
            <a *ngFor="let year of getYears()" [href]="'#year-' + year" class="side-nav-link">
              {{ year }}
            </a>
          </div>
        </div>
      </aside>

      <section class="timeline-container" [class.expanded]="isExpanded">
        <!-- <div class="timeline"> -->
          

          <div class="sticky-section">
            
            <!-- <aside class="right-side"></aside> -->
            
            <section class="timeline-content">
              <div class="tl_wrapper">
                <img src="assets/img/timeline/line_start.svg" alt="" class="tl_background" />
                <div class="year0" [attr.id]="'year-' + getYears()[0]">
                  {{ getYears()[0]}}
                </div>
              </div>
        
              <div *ngFor="let year of getYears(); let yearIndex = index">
                <!-- Main timeline year marker -->
                <ng-container *ngIf="yearIndex !== 0">
                  <div class="tl_wrapper">
                    <img src="assets/img/timeline/{{ yearIndex % 2 === 0 ? 'line_year_right.svg' : 'line_year_left.svg' }}" 
                        alt="" class="tl_background" />
                    <ng-container *ngIf="yearIndex % 2 === 0">
                      <div class="year2" [attr.id]="'year-' + year">{{ year }}</div>
                    </ng-container>
                    <ng-container *ngIf="yearIndex % 2 !== 0">
                      <div class="year1" [attr.id]="'year-' + year">{{ year }}</div>
                    </ng-container>
                    
                  </div>
                </ng-container>
              
                <!-- Projects of the year -->
                <div *ngFor="let project of groupedProjects[year]; let i = index">
                  <div class="tl_wrapper">
                    <img 
                      [src]="'assets/img/timeline/' + 
                        (i === 0 ? (yearIndex % 2 === 0 ? 'main-left_sub-right_start.svg' : 'main-right_sub-left_start.svg') :
                        i % 2 === 0 ? (yearIndex % 2 === 0 ? 'main-left_sub-right.svg' : 'main-right_sub-left.svg') :
                        (yearIndex % 2 === 0 ? 'main-left_sub-left.svg' : 'main-right_sub-right.svg'))" 
                      alt="" 
                      class="tl_background"
                    />

                    <app-desktop-tl-project [project]="project" [index]="i"></app-desktop-tl-project>
                    
                  </div>
                </div>
        
                <div class="tl_wrapper">
                  <img 
                    [src]="'assets/img/timeline/' + (yearIndex % 2 === 0 ? 'main-left_sub-left_end.svg' : 'main-right_sub-right_end.svg')" 
                    alt="" 
                    class="tl_background"
                  />
                  <div class=""></div> <!-- Empty div for alignment -->
                </div>

              </div>

              <div class="tl_wrapper">
                <img 
                  [src]="'assets/img/timeline/' + (getYears().length % 2 === 0 ? 'line_end_right.svg' : 'line_end_left.svg')" 
                  alt="" 
                  class="tl_background"
                />
              </div>
              
            </section>
            <!-- <aside class="right-side"></aside> -->
          </div>
      
      </section>
      <aside class="side-nav"></aside>
    </div>
    <div class="btn-div">
      <button class="expand-btn" (click)="toggleTimeline()">
        {{ isExpanded ? 'Collapse' : 'Expand' }}
      </button>
    </div>
