ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    background: #1e1e20;
    margin: 0;
    padding: 0;
    border-radius: 15px; /* Rounded edges for the navbar */
    overflow: hidden; /* Prevent content from spilling over the rounded edges */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li {
    display: block;
    flex: 1 ; /* Default */
    list-style-type: none;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions for hover and click */
    cursor: pointer;
}

li:hover {
    background-color: #3d3d43; /* Highlight on hover */
}

.link-active {
    background-color: #18181b;
    color: #0bd109;
}

li.link-active > a {
    color: #0bd109; /* Explicitly target the active link's text */
}

a {
    text-decoration: none;
    color: white
}

header {
    width: 30%;
    margin: auto;
}

.container {
    position: relative; /* Enables pseudo-elements like `::before` on children */
}