<div class="project-item">
  <div class="item-content">
    <div class="card-text">
      <h2>{{ project.title }}</h2>
      <br>
      <p>
        {{ project.short_desc }}
      </p>

      <div class="card-bottom">
        <hr>
        <div class="tools">
          <p *ngFor="let tool of toolLangList" id="tool">{{ tool }}</p>
        </div>

      </div>
      
    </div>

    <div class="card-image">
      <img [src]="project.image_thumbnail" class="image-project" alt="{{ project.title }} image">
      <!-- <img [src]="project.images" class="image-project"> -->
    </div>
  </div>
</div>
