.project-item {
  background: #175218;
  border-radius: 15px;
  padding: 25px;
  max-width: 100%;
  border: green solid 1px;
  opacity: 0.8;

  .item-content {
    display: flex;
    flex-direction: row;
    aspect-ratio: 5 / 3;
    gap: 20px;
    alignt-items: start;
    padding: 10px;
    border-radius: 15px;
    margin: 0 auto;
    color: #E1D9D1;
    background:  #00152b;
  }
  
  .card-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 15px 0px 0px 10px;
    height: 100%;
  }

  .card-text > h2 {
    font-size: 2em;
  }
  
  .card-text > p {
    font-size: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px 15px 0px;
  }
  
  .image-project{
    max-width: 100%;
    max-height: 100%;;
    object-fit: cover;
    border-radius: 15px;
  }

  .card-bottom {
    margin-top: auto;
    padding-right: 10%;
  }
  
  .tools {
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
  }

  hr {
    opacity: 0.7;
  }

  #tool {
    font-size: 1.1em;
  }


  @media screen and (max-width: 1700px) {
    .card-text > h2 {
      font-size: 1.7  em;
    }
    
    .card-text > p {
      font-size: 1.2em;
      -webkit-line-clamp: 10;
    }
  
  }

  @media screen and (max-width: 1500px) {
    .card-text > h2 {
      font-size: 1.5em;
    }
    
    .card-text > p {
      font-size: 1.1em;
      -webkit-line-clamp: 9;
    }

    #tool {
      font-size: 1em;
    }
  }
  
  @media screen and (max-width: 1300px) {  

    .card-text > h2 {
      font-size: 1.6em;
    }
    
    .card-text > p {
      font-size: 1.3em;
      -webkit-line-clamp: 10;
    }

    #tool {
      font-size: 1.1em;
    }
  }
  
  @media screen and (max-width: 1100px) {  
    .card-text > h2 {
      font-size: 1.4em;
    }
    
    .card-text > p {
      font-size: 1.1em;
      -webkit-line-clamp: 10;
    }

    #tool {
      font-size: 1.1em;
    }

  }
  
  @media (max-width: 900px) {
    .card-text > h2 {
      font-size: 1.4em;
    }
    
    .card-text > p {
      font-size: 1em;
      -webkit-line-clamp: 9;
    }

    #tool {
      font-size: 0.9em;
    }

  }

  @media (max-width: 700px) {
    .item-content{
      aspect-ratio: 6 / 5;
    }

    .card-text > h2 {
      font-size: 1.2em;
    }
    
    .card-text > p {
      font-size: 0.9em;
      -webkit-line-clamp: 12;
    }

    #tool {
      font-size: 0.8em;
    }
  }
}



