/* You can add global styles to this file, and also import other style files */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html,body 
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.sub-header {
    text-align: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 8px;
    font-size: 45px;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    color: #09D009;
    width: auto;
    display: inline-block;
    border-radius: 15px;
    border: green solid 1px;
    padding: 10px 20px;
    background: #00152b;
    box-shadow: 0 0 5px 5px #09D009;
}

.sub-header-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {  
    .sub-header {
        font-size: 1.5rem;
        font-weight: normal;
        -webkit-text-stroke: 0px;
    }
}

@media screen and (max-width: 1300px) {  
    .sub-header {
        font-size: 2rem;
        font-weight: normal;
        -webkit-text-stroke: 0px;
    }
}