<app-nav-bar></app-nav-bar>
<div class="projects-page">
  <div class="header">
    <div class="header-img">
      <img src="assets/img/landing-page_bg.svg" alt="Project Detail Page Background" class="header-image" />
    </div>
    <div class="divider">
    </div>
  </div>

  <div class="content-wrapper">
    <div class="project-grid">
      <app-project-list-item
        *ngFor="let project of projects"
        [project]="project"
      ></app-project-list-item>
    </div>
  </div>
</div>
<app-footer [waveBgColor]="'#011b38'"></app-footer>
