.footer-container{
  background: #10472d;

  .wave_bg {
    background:transparent;
  }

  .content-wrapper {
    background: #10472d;
    display: flex;
    margin: auto;
    height: 150px;
    padding: 20px;
  }

  .f-content {
    flex: 1;
    text-align: center;
    margin: auto;
    color: #a19b94;
    font-size: 15px;
  }

  .links {
    display: flex;
    max-height: 40%;
    margin: auto;
    flex: 1;
  }

  .icon {
    flex: 1;
  }

  .link-icon {
    height: 100%;
    margin: 0 auto;
  }

  .github {
    float: right;
    padding-right: 5%;
  }
}