<div [routerLink]="['/projects', project.id]" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{ 'con0': index === 0, 'con': index !== 0 }" class="project-block">
  <div class="project-content">
    <p class="title"> {{ project.title }}</p>
    <br>
    <p class="descr"> {{ project.short_desc }} </p>
    <div class="seeMoreBtn">
      <button>See more ></button>
    </div>
  </div>
  <div class="project-img-div">
    <img [src]="project.image_thumbnail" class="image-project" alt="{{ project.title }} image">
  </div>
</div>
